# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.unity-packages.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jorda\Documents\Unity Packages\unity-packages\.idea\.idea.unity-packages.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
